.l-footer__wrapper {
    width: 100%;
    max-width: 113.6rem;
    text-align: center;
}

.l-footer__wrapper .c-logo {
    width: 17.6rem;
}

@media screen and (min-width: 768px) {
    .l-footer__wrapper {
        display: grid;
        grid-template-columns: 27.0rem 1fr;
        grid-template-areas:
        "logo form"
        "ul form";
        text-align: left;
    }

    .l-footer__wrapper .c-logo {
        grid-area: logo;
        justify-self: left;
    }
}

@media screen and (min-width: 1200px) {
    .l-footer__wrapper {
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-areas:
        "logo ul form"
        "logo ul form";
    }
}