.l-header {
    height: 19.2rem;
    /* background: url(../../../assets/images/backgrounds/background-header.jpg) no-repeat center / cover; */
    background: url(https://images.hdqwalls.com/download/tang-san-and-xiao-wu-soul-land-5k-xj-1600x1200.jpg) no-repeat center top 40% / cover;

    
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.l-header .c-button-primary {
    max-width: fit-content;
}


@media screen and (min-width: 768px) {
    .l-header {
        height: 35.2rem;
        
    }
}