.c-button-secundary {
    --text-color: var(--c-button-secundary-border-color);

    color: var(--text-color);
    cursor: pointer;
    border: 0.1rem solid var(--c-button-secundary-border-color);
    padding: var(--button-padding);

    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    flex: 1;
    width: 100%;
}

.c-button-secundary:hover {
    background-color: var(--c-button-secundary-hover-background-color);
}


.c-button-secundary.is-btn-large {
    max-width: fit-content;
}

@media screen and (min-width: 768px) {
    .c-button-secundary {
        order: 2;
    }
}

@media screen and (min-width: 1200px) {
    :root {
        --button-padding: 1.6rem;
    }

    .c-button-secundary {
        font-size: 1.6rem;
        font-weight: 400;
    }
}