.c-modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: none;
    padding: var(--layout-padding);
    font-size: 1.6rem;

    width: 90%;
    max-width: 60rem;
}

.c-modal:focus {
    outline: 0.1rem solid rgba(0, 0, 0, 0.5);
}

.c-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.c-modal .c-button-primary {
    outline: none;
    flex: 1;
}

.c-modal .c-button-primary:nth-of-type(1) {
    background-color: rgb(228, 45, 45);
}

.c-modal .c-button-primary:nth-of-type(1):hover {
    background-color: red;
}

